@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size:100% 100% ; /*cobrir a tela inteira sem perder qualidade*/
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Qunado configuramos o top e o left da caixa, por padrão a ponta/borda esquerda é que fica centralizada. para centralizar o centro da caixa precisamos fazer uma transformação.*/
    height: 600px;
    width: 305px;
    background:  url('../imagens/frame-iphone.png' ) no-repeat;
    background-size:100% 100% ;
}

#tela{
    position: relative;
    top: 76px;
    left: 21px;
    width: 263px;
    height: 452px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.449);
    border-radius: 50%;
    box-sizing: border-box; /*borda branca passa a fazer parte da imagem*/
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.74);
    transform: translate(-3px, -3px); /*imagem ir 3px para esquerda. Como o alinhamento é para a direita, é preciso valores negativos para movimentar para a esquerda.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.456); /*imagem está se  distanciando, precisamos de uma sombra maior para dar um efeito legal */
    transition: transform 0.5s, border 0.3s; /*duração da transição do transform e da borda*/
    }
