@charset "UTF-8";

body{
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: whitesmoke;
    background-color: black;
}

h2 {
    color:rgb(0, 255, 157); 
}

p {
    text-align: justify;
}